.cartlist_div{
    width: 100%;
    height: auto;
   border: 1px solid red;
    display: flex;
    justify-content: center;
    
}
.cartlist_Left_div{
  width: 40%;
  border: 1px solid red;
  
}

.cartlist_Right_div{
  width: 20%;
  border: 1px solid red;
  
}
.ProductPrice,.Totaldiscount,.total{
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
font-size: 16px;
font-weight: 400px;
font-family: -apple-system, "Helvetica Neue", sans-serif, "Mier Book";
}
.discountBox{
  width: 95%;
  height: 50px;
  
  margin: auto;
  align-items: center;
  background: #D3F4EA;
  border-radius: 5px;
}
.text{
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}
