.Product_Card_Main_Div {
    border: 1px solid rgb(226, 225, 225);
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 5px;
    /* border: 2px solid black; */
}

.Product_Card_Main_Div_Img_div>img {
    border-radius: 10px 10px 0px 0px;
    width: 90%;
    margin: auto;
    height: 315px;
    /* border: 2px solid black; */
}

.Product_Card_Main_Div_Title_tag {
    /* border: 1px solid black; */
    color: rgb(153, 153, 153);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    font-family: "Mier book";
    margin: 0px;
    padding: 0px;
    margin-top: 7px;
    text-align: left;
}

.Product_Card_Main_Div_Price_and_MiniTitle {
    /* border: 1px solid black; */
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 3px;
}

.Product_Card_Main_Div_Price_and_MiniTitle>h1 {
    color: rgb(51, 51, 51);
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    font-family: "Mier bold";
    margin: 0px;
    padding: 0px;
    /* border: 1px solid black; */
}

.Product_Card_Main_Div_Price_and_MiniTitle>p {
    color: rgb(153, 153, 153);
    font-style: normal;
    font-weight: 530;
    font-size: 15px;
    line-height: 16px;
    font-family: "Mier demi";
    margin: 0px;
    padding: 0px;
    /* border: 1px solid black; */
}

.Product_Card_Main_Div_Delivery_type_div>p {
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    padding: 6px;
    width: 45%;
    color: rgb(109, 108, 108);
    font-style: normal;
    line-height: 14px;
    /* border: 1px solid black; */
}

.Product_Card_Main_Div_Rating_and_review_div {
    /* border: 1px solid black; */
    display: flex;
    gap: 10px;
    align-items: center;
}

.Product_Card_Main_Div_Rating_and_review_div>h1 {
    /* border: 1px solid black; */
    display: inline-flex;
    gap: 7px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 16px;
    padding: 3px 10px;
    font-size: 18px;
    font-weight: 600;
    background: rgb(5, 199, 141);
    fill: rgb(85, 133, 248);
    color: white;
    /* box-shadow: rgb(231 238 255) 0px 0px 0px 1px inset; */

}

.Product_Card_Main_Div_Rating_and_review_div>h1>span {
    /* border: 2px solid red; */
    margin-top: -5.5px;
}

.Product_Card_Main_Div_Rating_and_review_div>p {
    color: rgb(153, 153, 153);
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    font-family: "Mier demi";
    margin: 0px;
    padding: 0px;
    /* border: 1px solid black; */
}

.Product_Card_Main_Div_Rating_and_review_div>img {
    /* border: 1px solid black; */
    width: 35%;
    display: inline-block;
    height: 68px;
    /* border: 1px solid black; */
}















/* 320px --- 488px */

@media all and (min-width: 320px) and (max-width: 488px) {

    .Product_Card_Main_Div {
        border: 1px solid rgb(226, 225, 225);
        width: 100%;
        height: auto;
        border-radius: 10px;
        padding: 5px;
        /* border: 2px solid black; */
    }

    .Product_Card_Main_Div_Img_div>img {
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        margin: auto;
        height: 350px;
        /* border: 2px solid black; */
    }

    .Product_Card_Main_Div_Title_tag {
        /* border: 1px solid black; */
        color: rgb(153, 153, 153);
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        font-family: "Mier book";
        margin: 0px;
        padding: 0px;
        margin-top: 7px;
        text-align: left;
    }

    .Product_Card_Main_Div_Price_and_MiniTitle {
        /* border: 1px solid black; */
        display: flex;
        gap: 10px;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 3px;
    }

    .Product_Card_Main_Div_Price_and_MiniTitle>h1 {
        color: rgb(51, 51, 51);
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 28px;
        font-family: "Mier bold";
        margin: 0px;
        padding: 0px;
        /* border: 1px solid black; */
    }

    .Product_Card_Main_Div_Price_and_MiniTitle>p {
        color: rgb(153, 153, 153);
        font-style: normal;
        font-weight: 530;
        font-size: 15px;
        line-height: 16px;
        font-family: "Mier demi";
        margin: 0px;
        padding: 0px;
        /* border: 1px solid black; */
    }

    .Product_Card_Main_Div_Delivery_type_div>p {
        background-color: rgb(247, 247, 247);
        border-radius: 10px;
        padding: 6px;
        width: 45%;
        color: rgb(109, 108, 108);
        font-style: normal;
        line-height: 14px;
        /* border: 1px solid black; */
    }

    .Product_Card_Main_Div_Rating_and_review_div {
        /* border: 1px solid black; */
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .Product_Card_Main_Div_Rating_and_review_div>h1 {
        /* border: 1px solid black;  */
        display: inline-flex;
        gap: 7px;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        border-radius: 16px;
        padding: 3px 10px;
        font-size: 18px;
        font-weight: 600;
        background: rgb(5, 199, 141);
        /* fill: rgb(85, 133, 248); */
        color: white;
        /* box-shadow: rgb(231 238 255) 0px 0px 0px 1px inset; */


    }

    .Product_Card_Main_Div_Rating_and_review_div>h1>span {
        /* border: 2px solid red; */
        margin-top: -5.5px;
    }

    .Product_Card_Main_Div_Rating_and_review_div>p {
        color: rgb(153, 153, 153);
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 14px;
        font-family: "Mier demi";
        margin: 0px;
        padding: 0px;
        /* border: 1px solid black; */
    }

    .Product_Card_Main_Div_Rating_and_review_div>img {
        /* border: 1px solid black; */
        width: 35%;
        display: inline-block;
        height: 68px;
        /* border: 1px solid black; */
    }
}















/*  489px --- 768px*/
@media all and (min-width: 489px) and (max-width: 768px) {
    .Product_Card_Main_Div {
        border: 1px solid rgb(226, 225, 225);
        width: 100%;
        height: auto;
        border-radius: 10px;
        padding: 5px;
        border: 2px solid black;
    }

    .Product_Card_Main_Div_Img_div>img {
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        margin: auto;
        height: 311px;
        /* border: 2px solid black; */
    }

    .Product_Card_Main_Div_Title_tag {
        /* border: 1px solid black; */
        color: rgb(153, 153, 153);
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        font-family: "Mier book";
        margin: 0px;
        padding: 0px;
        margin-top: 7px;
        text-align: left;
    }

    .Product_Card_Main_Div_Price_and_MiniTitle {
        /* border: 1px solid black; */
        display: flex;
        gap: 10px;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 3px;
    }

    .Product_Card_Main_Div_Price_and_MiniTitle>h1 {
        color: rgb(51, 51, 51);
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 28px;
        font-family: "Mier bold";
        margin: 0px;
        padding: 0px;
        /* border: 1px solid black; */
    }

    .Product_Card_Main_Div_Price_and_MiniTitle>p {
        color: rgb(153, 153, 153);
        font-style: normal;
        font-weight: 530;
        font-size: 15px;
        line-height: 16px;
        font-family: "Mier demi";
        margin: 0px;
        padding: 0px;
        /* border: 1px solid black; */
    }

    .Product_Card_Main_Div_Delivery_type_div>p {
        background-color: rgb(247, 247, 247);
        border-radius: 10px;
        padding: 6px;
        width: 45%;
        color: rgb(109, 108, 108);
        font-style: normal;
        line-height: 14px;
        /* border: 1px solid black; */
    }

    .Product_Card_Main_Div_Rating_and_review_div {
        /* border: 1px solid black; */
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .Product_Card_Main_Div_Rating_and_review_div>h1 {
        /* border: 1px solid black;  */
        display: inline-flex;
        gap: 7px;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        border-radius: 16px;
        padding: 3px 10px;
        font-size: 18px;
        font-weight: 600;
        background: rgb(5, 199, 141);
        /* fill: rgb(85, 133, 248); */
        color: white;
        /* box-shadow: rgb(231 238 255) 0px 0px 0px 1px inset; */


    }

    .Product_Card_Main_Div_Rating_and_review_div>h1>span {
        /* border: 2px solid red; */
        margin-top: -5.5px;
    }

    .Product_Card_Main_Div_Rating_and_review_div>p {
        color: rgb(153, 153, 153);
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 14px;
        font-family: "Mier demi";
        margin: 0px;
        padding: 0px;
        /* border: 1px solid black; */
    }

    .Product_Card_Main_Div_Rating_and_review_div>img {
        /* border: 1px solid black; */
        width: 35%;
        display: inline-block;
        height: 68px;
        /* border: 1px solid black; */
    }

}



















































/* 768px --- 1024px  */

@media all and (min-width: 769px) and (max-width: 1024px) {}