.subNavbar{
    width: 100%;
    height: 50px;
    /* border: 1px solid black; */
    position: fixed;
    top: 70px;
    z-index: 5;
    /* padding: 0 50px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
   
  
}
.subnavHeading{
   padding: 13px;

   font-size: 17px;
  }
.subnavHeading:hover{
  color: #F43397;
  border-bottom: 2px solid #F43397;
}


  @media (max-width: 1204px) {
    .subnavHeading{
      padding: 8px;
  
      font-size: 15px;
     }
    
 
    
  }
  
  @media (max-width: 1100px) {
    .subnavHeading{
      padding: 4px;
    
      font-size: 12px;
     }
     
 
  }
  @media (max-width: 947px){
  
    .Downloadapp_box{
        display: none;
      }
     
      .navcontainer{
      
        width: 220px;
        
      }
    
      .SearchINputbox{
        width: 350px;
      }
    
  }
  
  @media (max-width: 690px) {
     
    .Downloadapp_box{
        display: none;
      }
    .navcontainer{
       
        width: 190px;
      }
      .SearchINputbox{
        width: 250px;
      }
      .subNavbar{
        display: none;
      }
  }
  
  @media (max-width: 500px) {
    .Downloadapp_box{
      display: none;
    }
    .navcontainer{
       
        width: 250px;
      }
    
      .SearchINputbox{
        width: 200px;
      }
      .subNavbar{
        display: none;
      }
    
     
  }