.main_jewelry_div {
    height: auto;
    width: 100%;
    padding: 140px 20px 0px 20px;
    /* border: 1px solid black; */
}

.JewelrySets_heading_tag {
    margin-bottom: 20px;
    /* border: 1px solid black; */
}

.JewelrySets_heading_tag>p {
    /* border: 1px solid black; */
    text-align: left;
    color: rgb(51, 51, 51);
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    font-family: "Mier book";
}

.JewelrySets_heading_tag>h1 {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: rgb(51, 51, 51);
    font-family: "Mier bold";
    font-style: normal;
    text-align: left;
}

.sideBar_and_card_main_div {
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    margin-top: 10px;
    display: flex;
    gap: 20px
}



.sideBar_and_card_main_div>div:nth-child(1) {
    /* border: 1px solid red; */
    width: 28%;
}


.sideBar_and_card_main_div>div:nth-child(2) {
    /* border: 1px solid teal; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}



/* 320px --- 488px */

@media all and (min-width: 320px) and (max-width: 425px) {
    .main_jewelry_div {
        height: auto;
        width: 100%;
        padding: 10px 20px 0px 20px;
        /* border: 5px solid black; */
    }



    .JewelrySets_heading_tag {
        margin-bottom: 20px;
        border: 1px solid black;
        display: none;
    }

    .JewelrySets_heading_tag>p {
        /* border: 1px solid black; */
        text-align: left;
        color: rgb(51, 51, 51);
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        font-family: "Mier book";
    }

    .JewelrySets_heading_tag>h1 {
        margin-bottom: 8px;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        color: rgb(51, 51, 51);
        font-family: "Mier bold";
        font-style: normal;
        text-align: left;
    }

    .sideBar_and_card_main_div {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        /* border: 5px solid black; */
        margin-top: 10px;
        gap: 20px
    }



    .sideBar_and_card_main_div>div:nth-child(1) {
        /* border: 1px solid red; */
        gap: 10px;
        width: 100%;
    }


    .sideBar_and_card_main_div>div:nth-child(2) {
        /* border: 10px solid teal; */
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
    }

}


/*  489px --- 768px*/
@media all and (min-width: 489px) and (max-width: 768px) {
    .main_jewelry_div {
        height: auto;
        width: 100%;
        padding: 10px 30px 0px 30px;
        /* border: 5px solid black; */
    }

    .JewelrySets_heading_tag {
        margin-bottom: 20px;
        display: none;
        /* border: 1px solid black; */
    }

    .JewelrySets_heading_tag>p {
        /* border: 1px solid black; */
        text-align: left;
        color: rgb(51, 51, 51);
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        font-family: "Mier book";
    }

    .JewelrySets_heading_tag>h1 {
        margin-bottom: 8px;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        color: rgb(51, 51, 51);
        font-family: "Mier bold";
        font-style: normal;
        text-align: left;
    }

    .sideBar_and_card_main_div {
        width: 100%;
        height: auto;
        /* border: 1px solid black; */
        margin-top: 5px;
        display: flex;
        gap: 20px
    }



    .sideBar_and_card_main_div>div:nth-child(1) {
        /* border: 1px solid red; */
        width: 35%;
    }


    .sideBar_and_card_main_div>div:nth-child(2) {
        /* border: 1px solid red; */
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
    }

}










/* 768px --- 1024px  */

@media all and (min-width: 769px) and (max-width: 1024px) {



    .main_jewelry_div {
        height: auto;
        width: 100%;
        padding: 10px 20px 0px 20px;
        /* border: 1px solid black; */
    }
    
    .JewelrySets_heading_tag {
        margin-bottom: 20px;
        display: none;
        border: 1px solid black;
    }
    
    .JewelrySets_heading_tag>p {
        /* border: 1px solid black; */
        text-align: left;
        color: rgb(51, 51, 51);
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        font-family: "Mier book";
    }
    
    .JewelrySets_heading_tag>h1 {
        margin-bottom: 8px;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        color: rgb(51, 51, 51);
        font-family: "Mier bold";
        font-style: normal;
        text-align: left;
    }
    
    .sideBar_and_card_main_div {
        width: 100%;
        height: auto;
        /* border: 1px solid black; */
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 10px
    }
    
    
    
    .sideBar_and_card_main_div>div:nth-child(1) {
        /* border: 1px solid red; */
        width: 100%;
        padding: 10px;
    }
    
    
    .sideBar_and_card_main_div>div:nth-child(2) {
        /* border: 1px solid teal; */
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
        padding: 10px;
    }
    
   

}