.emptycard_box{
    width: 100%;
    height: 100vh;
     
 
    margin: auto;
}
.emptycart{
    width: 30%;
    margin: auto;
    
    margin-top: 10%;
   
}
.emptycart img{
   margin: auto;
  width: 200px;
  margin-bottom: 5%;
}
