.login_page{
    width: 100%;
    height: 130vh;
    background: linear-gradient(rgb(253, 233, 242) 0%, rgb(253, 240, 232) 100%, rgb(253, 240, 232) 100%);;
    margin: auto;
    padding: 100px;
}
.login_form{
    width: 32%;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    padding-bottom: 50px;
    border: 1px solid gray;
    
}
.img_div{
  width: 100%;
  
}
.img_div img{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    
}


.form_div>div{
  
  width: 70%;
  margin: auto;
  
  margin-top: 30px;

}
#form_bottom_div{
    margin-top: 50px;
}
.form_bottom_text {
    font-size: 10px;
    text-align: center;

}
.custom-field{
    position: relative;
    font-size: 15px;
    border-top: 4px solid transparent;
    margin-bottom: 5px;
    display: inline-block;
    --field-padding: 5px;
  }
  
  .custom-field input {
    
    border-bottom: 1px solid gray;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    padding: var(--field-padding);
    border-radius: 3px;
    width: 220px;
    height: 36px;
    outline: none;
    font-size: 15px;
  }
  
  .custom-field .placeholder {
    position: absolute;
    left: -40px;
    width: calc(100% - (var(--field-padding) * 2));
    overflow: hidden;
    font-size: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 20px;
    line-height: 100%;
    transform: translateY(-50%);
    color: #aaa;
    transition: 
      top 0.3s ease,
      color 0.3s ease,
      font-size 0.3s ease;
  }
  
  .custom-field input.dirty + .placeholder,
  .custom-field input:focus + .placeholder,
  .custom-field input:not(:placeholder-shown) + .place {
    top: -10px;
    left: -60px;
    font-size: 12px;
    color: #F43397;
  }
  
 
  
  
.custom-field .two input {
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background:
      linear-gradient(90deg, #F43397, #F43397) center bottom/0 0.15em no-repeat,
      linear-gradient(90deg, #ccc, #ccc) left bottom/100% 0.15em no-repeat,
      linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat;
    transition: background-size 0.3s ease;
  }
  
  .custom-field.two input.dirty,
  .custom-field.two input:not(:placeholder-shown),
  .custom-field.two input:focus {
    background-size: 100% 0.15em, 100% 0.1em, 100%;
  }

  .continueButton{
    cursor: pointer;
    line-height: 20px;
    letter-spacing: 0.0015em;
    border: none;
    color: white;
    width: 300px;
    padding: 12px;
    margin-top:16px;
    text-align: center;
    background: rgb(244, 51, 151);
    border-radius: 5px;
    font-size: 15px;
  }